# Lesson 2 HW Questions

1) Data Science is the study of data. It focuses on using data to answer important questions. As a student, I am currently using data science to analyze election results and determine if economic class plays a role in the likelyhood of being elected.

2)Three Focus areas in the course:

3)Install the datascience package

4) Basic calculations

In [17]:
2+6

8

In [18]:
100/5

20.0

In [3]:
2+2

4

5)print name followed by a thumbs up sign

In [7]:
Print(N/ud83d)

NameError: name 'Print' is not defined

6) This is most likley a a correlation not a causation. The variables, ice cream sales and violent crime are correlated but their is not sufficient evidence that ice cream sales cause violent crime.

7) What is the difference between an observational study and an experiment? An experiment introduces a control and treatment.

# LESSON 3

In [1]:
import numpy as np
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore", category=FutureWarning)

1) Use basic Python operators to find the number of seconds in the month of June. Find the number of seconds that have lapsed between 14 Aug, 0930 and 1 June, 1200.

In [15]:
Days_In_June = 30
Seconds_In_Day = (12*60*60)
Days_between = 74
Extra_seconds = ((12-9.5)*60*60)

In [16]:
(Days_between*Seconds_In_Day)+Extra_seconds

3205800.0

In [21]:
(74*24*60*60)+(150*60)

6402600

2) Import a table ('world_population.cvs')
    a) The popultion in 2016
    b) The population growth between 1950 (beginning of dataset) and 2016
    C) The annual growth rates over the course of the dataset

In [28]:
Table.read_table('world_population.csv')

Population
2557628654
2594939877
2636772306
2682053389
2730228104
2782098943
2835299673
2891349717
2948137248
3000716593
... (56 rows omitted)

In [17]:
Table.read_table('http://data8.org/textbook/notebooks/sat2014.csv')

NameError: name 'Table' is not defined

In [20]:
from datascience import Table

In [25]:
Table.read_table('world_population.csv')

Population
2557628654
2594939877
2636772306
2682053389
2730228104
2782098943
2835299673
2891349717
2948137248
3000716593
... (56 rows omitted)

In [23]:
Table.read_table('http://data8.org/textbook/notebooks/sat2014.csv')

State        | Participation Rate | Critical Reading | Math | Writing | Combined
North Dakota | 2.3                | 612              | 620  | 584     | 1816
Illinois     | 4.6                | 599              | 616  | 587     | 1802
Iowa         | 3.1                | 605              | 611  | 578     | 1794
South Dakota | 2.9                | 604              | 609  | 579     | 1792
Minnesota    | 5.9                | 598              | 610  | 578     | 1786
Michigan     | 3.8                | 593              | 610  | 581     | 1784
Wisconsin    | 3.9                | 596              | 608  | 578     | 1782
Missouri     | 4.2                | 595              | 597  | 579     | 1771
Wyoming      | 3.3                | 590              | 599  | 573     | 1762
Kansas       | 5.3                | 591              | 596  | 566     | 1753
... (41 rows omitted)

# Lesson 4

1) Create 3 variables for name (first and last), age and hometown. Assign to these variable your own name, age and hometown. Recreate the following sentence using variable assignment and the 'print' command in Python; "I am <Your name here>. I am <age> years old. I'm from <hometown>"

In [40]:
name = 'Ciera White'
age = '21'
hometown = 'Logan'

In [73]:
s=print('I am ' + name + '. I am ' + age + ' years old. I am from ' + hometown)

I am Ciera White. I am 21 years old. I am from Logan

In [60]:
print (s)

None

a) Now, use a string method to make your name lower case. Print the all lower case version of your name.

In [62]:
name .lower()

'ciera white'

b) Now use a string method to make your full name a proper noun. Print this version of your name.

In [63]:
name .title()

'Ciera White'

2) Using the 'replace' method, replace all "I am" with "he is" or "she is" and all "I'm" with "he's or she's."

In [68]:
s.replace('I am','She is')

"'She is' + name '. She is ' + age +' years old. She is from ' + hometown"

3) Return a boolean response indicating whether the length of your original sentence (in #1 is greater than your age plus 40)

# Lesson 5

# Arrays

1) Create an array containing 4 string elements: your first name, your last name, your birth state and your favorite color.

a) Use a numpy function to make all elements uppercase.

In [24]:
my_array = make_array ('Ciera', 'White' ,'Utah', 'Green')

Use a numpy function to count the number of times the letter "a" appears in each element of your array.

In [22]:
my_array.count

array(['Ciera', 'White', 'Utah', 'Green'], dtype='<U5')

In [19]:
my_array.count('a')

AttributeError: 'numpy.ndarray' object has no attribute 'count'

In [20]:
my_array.count(a)

AttributeError: 'numpy.ndarray' object has no attribute 'count'

NameError: name 'array' is not defined

c) Optional: Use a numpy function to find the length of each element in the array. You may ne

In [26]:
my_range=np.arange(1,42,4)
print (my_range)
my_range=np.arange(float)

In [27]:
print (my_range)

[ 1  5  9 13 17 21 25 29 33 37 41]

In [28]:
print(np.sum (my_range))

231

In [29]:
print (np.prod(my_range))

-749857315